* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #4D616E;
    color: #fff;
  }
  
  .App {
    text-align: center;
  
    
  }
  
  .container {
    background-color: rgb(22, 48, 67);
    display: flex;
    justify-content: space-around;
    padding: 20px 1px;
  }

  .titulo {
    font-size: 25px;
  }
  
  .meios-contato, .info, .outros {
    text-align: center;
  }
  
  .meios-contato p, .info p, .outros p {
    margin: 10px 0;
  }

  
  .whatsapp {
    height: 20px;
  }

  .telefone {
    height: 20px;
  }

  .instagram {
    height: 20px;
  }


  .preços{
    display: flex;
    flex-direction: row;
    
top: 30px;

  }

  .ds{
margin-top: 40px;

  }

  .precos{

align-items: center;
background-color: rgb(96,111,125);
border-radius: 30px;
height: 150px;
width: 200px;
margin-left: 530px;

  }
  .precos2{
    
    align-items: center;
    background-color: rgb(96,111,125);
    border-radius: 30px;
    height: 150px;
    width: 200px;
    margin-left: 40px;
    
      }
    

  .texto{
    display: flex ;
    padding:12px ;
    margin-left:32px ;
font-size:x-large;
  }

  .button1{
background-color: rgb(18,50,217);
border-radius: 20px;
margin-top: 20px;
height: 40px;

  }

  .cardspart1{
flex-direction:row ;
display: flex;
align-items: center;
margin-top: 20px;

  }
  
  .cardspart2{
    flex-direction:row ;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    
      }


   .texto2{
margin-top: 30px;

   }


   .produtos{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
   }

   .imgprodutos{
width: 350px;
height: 260px;
margin-top: 40px;
border-radius: 70px;
margin-left: 30px;
   }

  .textof{
font-size: xx-large;

  }

  .textoprodutos{
font-size: 50px;
padding: 90px;


  }

  .fds{
    background-color: #163043 ;
width: 1200px;
height: 400px;
margin-left: 150px;
margin-top: 90px;
border-radius: 60px;
  }

  h3{
font-size: xx-large;
padding: 40px;

      
  }

.reviews h1{
  font-size: xxx-large;
}

 .reviews p{
  font-size:xxx-large;

 }