.compre {
    width: 15vw;
    height: 6vh;
    margin-top: 1vh;
    cursor: pointer;
    text-align: center;
    background-color: rgb(18,50,217);
    color: white;
    font-size: large;
    border-radius: 30px;
}
