header {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 50px;
    }
  
    nav{
      background-color: rgb(22, 48, 67);


    }
  .logo{
    margin-left: 30vw;
  }

  .logotech{
    height: 10vh;
  }


    .menu-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 20px;
    }
  }

