header {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 50px;
      background-color: #3d4364;
    }
  
  .logo{
    margin-left: 30vw;
  }

  .logotech{
    height: 10vh;
  }


    .menu-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 20px;
    }
  }

