header {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 50px;
      background-color: #1b1e2f;
    }

    .logo {
      display: flex;
      align-items: center;
  
      img {
        height: 0px;
        padding: 10px ;
      }
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 20px;
    }
  }
  