.product {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    background-color: #4a5a67;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-info img {
    max-width: 500px;
    border-radius: 10px;
  }
  
  .product-details {
    text-align: center;
    margin-top: 10px;
  }
  
  .product-details p {
    margin: 5px 0;
  }
  
  .description {
    max-width: 400px;
    text-align: left;
  }
  
  .description h2 {
    font-size: 28px;
    color: #E5E5E5;
  }
  
  .description p {
    margin: 10px 0;
    font-size: 16px;
    color: #C5C5C5;
  }

